@{
    ViewBag.Title = "Home Page";
}

<h1 class="text-center"> Fetch 'N Store </h1>

<br />

<div ng-controller="FetchCtrl">
        <input type="url" placeholder="URL" ng-model="UserURL" /> <button class="Fetch" ng-click="Fetch()">Fetch</button> <button class="Store" ng-click="StoreResponse()">Store</button>
        <button ng-click="view()">View Scope</button>
            <select class="Options">
                <option>Choose A Command</option>
                <option>GET</option> 
                <option>HEAD</option>
            </select>
    <h3 class="text-center">Status Code: {{status}}</h3>
    <h3 class="text-center">Method Used: {{method}}</h3>
    <h3 class="text-center">URL: {{url}}</h3>
    <h3 class="text-center">Response Time: {{responseTime}} {{milliseconds}} </h3>

    <div ng-repeat="response in responses">
        <div class="panel panel-default">
            <div class="panel panel-heading">
                <a ng-href="#/api/Response"></a>
            </div>
            <div>
                <div> HTTP Method: {{response.HTTPMethod}}</div>
                <div>URL: {{response.URL}}</div>
                <div>Status Code: {{response.StatusCode}}</div>
                <div>Response Time: {{response.ResponseTime}} milliseconds</div>
            </div>
        </div>
        </div>
</div>
